
<div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
      <a class="navbar-brand" href="#">Angar 7</a>
  
      <div class="navbar-brand" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a routerLink="productos" (click)="Productos()" class="nav-link">Productos</a>
              </li>
              <li class="nav-item">
                <a routerLink="registrar-producto" class="nav-link" (click)="RegistroProductos()">Registrar Producto</a>
              </li>
              <li class="nav-item">
                <a routerLink="registrar-usuario" class="nav-link" (click)="RegistroUsuarios()">Registrar Usuario</a>
              </li>
        </ul>
      </div>
          <form class="form-inline">
            <button class="btn btn-dark my-2 my-sm-0" type="button" (click)="cerrarSesion()">Cerrar Sesión</button>
          </form>
    </div>
    </nav>
  </div>
  <br>
  <div class="container">
<div class="col-md-6 offset-md-3">
    <h3 class="text-center">Registro de Producto</h3>
    <form (ngSubmit)="onSubmit()" #productoForm="ngForm">
        <div class="form-group">
            <label>Nombre producto</label>
            <input type="text"
            class="form-control"
            id="nombre"
            [(ngModel)]="producto.nombre"
            name = "nombre"
            required
            minlength="4"
            maxlength="20"
            placeholder="Digite el nombre del producto"
            #nombre = "ngModel"
            >
            <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                <div *ngIf="nombre.errors.required">
                    Digite el nombre del producto por favor
                </div>
                <div *ngIf="nombre.errors.minlength">
                    El nombre del producto tiene que contener como mínimo 4 caracteres
                </div>
                <div *ngIf="nombre.errors.maxlength">
                    El nombre del producto tiene que contener como máximo 20 caracteres
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>Lote del producto</label>
            <input type="text"
            class="form-control"
            id="codLote"
            [(ngModel)]="producto.codLote"
            name = "codLote"
            required
            minlength="1"
            maxlength="20"
            placeholder="Digite el lote del producto"
            #codLote = "ngModel"
            >
            <div class="alert alert-danger" *ngIf="codLote.invalid && (codLote.dirty || codLote.touched)">
                <div *ngIf="codLote.errors.required">
                    Digite el lote del producto por favor
                </div>
                <div *ngIf="codLote.errors.minlength">
                    El lote del producto tiene que contener como mínimo 1 caracteres
                </div>
                <div *ngIf="codLote.errors.maxlength">
                    El lote del producto tiene que contener como máximo 20 caracteres
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>Cantidad en Stock</label>
            <input type="text"
            class="form-control"
            id="cantidad"
            [(ngModel)]="producto.cantidad"
            name = "cantidad"
            required
            minlength="1"
            maxlength="20"
            placeholder="Digite la cantidad en Stock"
            #cantidad = "ngModel"
            >
            <div class="alert alert-danger" *ngIf="cantidad.invalid && (cantidad.dirty || cantidad.touched)">
                <div *ngIf="cantidad.errors.required">
                    Digite la cantidad en Stock por favor
                </div>
                <div *ngIf="cantidad.errors.minlength">
                    La cantidad en Stock tiene que contener como mínimo 1 caracteres
                </div>
                <div *ngIf="cantidad.errors.maxlength">
                    La cantidad en Stock tiene que contener como máximo 20 caracteres
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>Precio del articulo</label>
            <input type="text"
            class="form-control"
            id="precio"
            [(ngModel)]="producto.precio"
            name = "precio"
            required
            minlength="1"
            maxlength="20"
            placeholder="Digite el precio"
            #precio = "ngModel"
            >
            <div class="alert alert-danger" *ngIf="precio.invalid && (precio.dirty || precio.touched)">
                <div *ngIf="precio.errors.required">
                    Digite el precio por favor
                </div>
                <div *ngIf="precio.errors.minlength">
                    El precio tiene que contener como mínimo 1 caracteres
                </div>
                <div *ngIf="precio.errors.maxlength">
                    El precio tiene que contener como máximo 20 caracteres
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>Color del articulo</label>
            <input type="text"
            class="form-control"
            id="color"
            [(ngModel)]="producto.color"
            name = "color"
            required
            minlength="1"
            maxlength="20"
            placeholder="Digite el color"
            #color = "ngModel"
            >
            <div class="alert alert-danger" *ngIf="color.invalid && (color.dirty || color.touched)">
                <div *ngIf="color.errors.required">
                    Digite el color por favor
                </div>
                <div *ngIf="color.errors.minlength">
                    El color tiene que contener como mínimo 1 caracteres
                </div>
                <div *ngIf="color.errors.maxlength">
                    El color tiene que contener como máximo 20 caracteres
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>Talla del articulo</label>
            <input type="text"
            class="form-control"
            id="talla"
            [(ngModel)]="producto.talla"
            name = "talla"
            required
            minlength="1"
            maxlength="20"
            placeholder="Digite la talla"
            #talla = "ngModel"
            >
            <div class="alert alert-danger" *ngIf="talla.invalid && (talla.dirty || talla.touched)">
                <div *ngIf="talla.errors.required">
                    Digite la talla por favor
                </div>
                <div *ngIf="talla.errors.minlength">
                    La talla tiene que contener como mínimo 1 caracteres
                </div>
                <div *ngIf="talla.errors.maxlength">
                    La talla tiene que contener como máximo 20 caracteres
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>Modelo del articulo</label>
            <input type="text"
            class="form-control"
            id="modelo"
            [(ngModel)]="producto.modelo"
            name = "modelo"
            required
            minlength="1"
            maxlength="20"
            placeholder="Digite el modelo"
            #modelo = "ngModel"
            >
            <div class="alert alert-danger" *ngIf="modelo.invalid && (modelo.dirty || modelo.touched)">
                <div *ngIf="modelo.errors.required">
                    Digite el modelo por favor
                </div>
                <div *ngIf="modelo.errors.minlength">
                    El modelo tiene que contener como mínimo 1 caracteres
                </div>
                <div *ngIf="modelo.errors.maxlength">
                    El modelo tiene que contener como máximo 20 caracteres
                </div>
            </div>
        </div>
        <br>
        <button class="btn btn-success" [disabled]="!productoForm.form.valid">Guardar</button>
    </form>
</div>
</div>